BasedOnStyle: Google
ColumnLimit: 0
SpacesBeforeTrailingComments: 2
AllowShortFunctionsOnASingleLine: None
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^".*"$'
    Priority: 1
  - Regex: '^<doggo/.*>$'
    Priority: 2
  - Regex: '.*'
    Priority: 3
BinPackArguments: false
BinPackParameters: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
